<h1>Portlandia Dictionary</h1>
index.html
<h1>Words</h1>
<h3>Click word to add a definition</h3>
#foreach($word in $words)
  <h3><a href="/$word.getId()">$word.getName()</a></h3>
#end
<a href="/new">Add a New Word</a>
