<h1>Portlandia Dictionary</h1>
index.html
<form action='/success' method='get'>
<div class="form-group">
  <label for="number">Enter Something</label>
  <input id="number" name="number" class="form-control" type="text">
</div>
 <button type="submit" class="btn">Enter</button>
</form>
