<h1>Dictionary</h1>
<h2>List of Words</h2>
<h3><a href="/example">Example</a></h3>
<h3>Click word to add a definition</h3>
#foreach($word in $words)
  <h3><a href="/$word.getId()">$word.getName()</a></h3>
#end
<a href="/new">Add a New Word</a>
