<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/img/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">

      #parse( $template )

      </div>
    </div>
  </body>
</html>
