<h3>Here are all the definitions for $word.getName():</h3>
#foreach($definition in $word.getDefinitions())
 <h3>$definition.getDescription()</a></h3>
#end

<a href="/$word.getId()/definitions/new">Add a new definition</a><br>
<a href="/">Return to Main Page</a>