<h1>Add a word</h1>

<form action="/" method="post">
<div class="form-group">
  <label for="name">Word name</label>
  <input id="name" name="name" type="text" class="form-control">
 </div>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>